<!DOCTYPE html>
<html lang="en">
<head>
    <script type="javascript" src="/js/jquery-3.5.1.min.js"></script>
    <script type="javascript" src="/js/index.js"></script>
    <meta charset="UTF-8">
    <title>softone</title>
</head>
<body>
<link type="text/css" rel='stylesheet prefetch' href="/css/index.css">
<div class="header">
    <div class="row">
        <div class="small-12 column text-center">
            <h1>A simple family layout concept</h1>
            <h6>( Click on a family member )</h6>
        </div>
    </div>
</div>
<div class="main">
    <div class="row">
        <div class="small-12 column breaker">
            <h3><span>October 24, 2014</span></h3>
        </div>
    </div>
    <div class="row">
        <!-- Mason-->
        <div class="small-12 large-3 column text-holder mason">
            <h5>Mason Fox</h5>
            <p>A Husband, Dad, and front end developer work at a company in Northwest Ohio!</p>
        </div>
        <div class="small-12 large-3 column text-center mason-img"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/324479/mason.png" class="img-round" />
        </div>
        <!-- Chlo-->
        <div class="small-12 large-3 column text-center chlo-img"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/324479/chlo.png" class="img-round" />
        </div>
        <div class="small-12 large-3 column text-holder text-right chlo">
            <h5>Chloe Fox</h5>
            <p>An awesome Wife and Mom! Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </div>
    <div class="row">
        <div class="small-12 column breaker">
            <h3><span>October 16, 2015</span></h3>
        </div>
    </div>
    <div class="row">
        <div class="small-12 large-4 column text-holder text-left lola">
            <h5>Lola Fox</h5>
            <p>The very first and sleepiest child of the Fox Family! Born October 16, 2015</p>
        </div>
        <!-- Little Lola-->
        <div class="small-12 large-4 end column text-center lola-img"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/324479/lola.png" class="img-round" />
        </div>
    </div>
</div>
<footer>
    <div class="row">
        <div class="small-12 column text-center">
            <h6>Thank you for checking out the Fox Family Website!</h6>
            <div class="heart-shape"></div>
        </div>
    </div>
</footer>
</body>
</html>